.text__container {
  width: 600px;
  font-size: var(--font-size-header);
  margin: 100px auto auto auto;
  text-align: center;
  text-shadow: 0 0 2px var(--color-white);

  color: var(--color-yellow);

  -webkit-text-stroke-color: var(--color-yellow);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: transparent;
}
